{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chatapp/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>SignUp</h1>
        {% if messages %}
            {% for message in messages %}
                <p class= "message">{{message}}</p>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirm_password" placeholder="confirm Password"><br>
            <button type="submit">SignUp</button>
        </form>
        <p>Already have an account?<a href="{%url 'signin' %}">Sign In</a></p>
    </div>
    
</body>
</html>